<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Error | Wearify</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" href="" type="image/png">
    <link rel="icon" href="/assests/icon-error.png" type="image/png">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a id="myBtn">FAQ</a>
      <div class="search-container">
        <form action="/search" method="post">
          <input name="city" type="text" placeholder="Enter a city.." name="Enter a city..">
          <button id="submit" type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <div class="footer">
      <p>Handcrafted with <i id="heart "class="fa fa-heart" aria-hidden="true" style="color:red" ></i> | Harrison</p>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <H1>Frequently asked questions</H1>
        <br>
        <h2>The weather information is inaccurate</h2>
        <p>Sometimes the website provides users with information of a different location with the same name, to make sure this doesnt happen use the following format when searching. (City,Country) e.g Melbourne,AU</p>
        <br>
        <h2>The location information is inaccurate</h2>
        <p>To determine your location the website uses your ip address, depending on where you are located can be inaccurate. To combat this use the search function to find your location. </p>
      </div>
    </div>
    <div class="container">
      <fieldset>
        <img src="https://614now.com/wp-content/uploads/2020/06/giphy-3-1.gif">
        <p class="error"> Location permission disabled, enable permissions or manually search</p>
      </fieldset>
      <script src="/js/script.js"></script>
    </div> 
  </body>
</html>
